@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

:root {
    --bg-grey: #f7f8fa;
    --light-grey: #f3f4f5;
    --medium-grey: #d6d8db;
    --dark-grey: #a0a8b3;
    --grey: #808080;
    --light-back: #171f2a;
    --black: #000000;
    --blue: #417ee1;
}

.body_container {
    display: flex;
}
