.navbar {
    background-color: var(--light);
    width: 22vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.navbar_top {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 20px;
    margin-left: 8px;
    margin-right: 8px;
}

.logo {
    display: flex;
    align-items: center;
}

.links {
    display: flex;
}

.anchor_icon {
    text-decoration: none;
    color: var(--black);
    margin-left: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.search {
    border: 1px solid var(--dark);
    box-shadow: inset 0px 0px 2px 0px var(--dark);
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.navbar_items {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.subheading {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: var(--darker);
    padding: 0px 24px;
    margin-top: 16px;
    margin-bottom: 4px;
}

.item {
    font-size: 14px;
    font-weight: 400;
    padding: 8px 24px;
    cursor: pointer;
}

.item:hover {
    background-color: var(--medium);
    color: var(--blue);
}

.active {
    font-size: 14px;
    font-weight: 400;
    padding: 8px 24px;
    cursor: pointer;
    background-color: var(--medium);
    color: var(--blue);
}
